<footer>
    <div class="container-footer">
        <button class="btn_Contact">Contact</button>
        <div class="socialIcon">
            <a href="https://facebook.com" class="socialItem"><img src="../images/logo/icon-facebook.svg" alt="logo Facebook"></a>
            <a href="https://instagram.com" class="socialItem"><img src="../images/logo/icon-instagram.svg" alt="logo Instagram"></a>
        </div>
    </div>
    <div class="mentions-footer">
        <p>Copyright 2022 | Tous droits réservés |</p>
        <a href="./mentions">Mentions légales et Conditions Générales d'Utilisation</a>
    </div>
</footer>