<header class="container-nav-header">
    <nav class="side-nav">
            <div class="nav-logo">
                <img class="logo" src="../images/logo/logo.png" alt="logo">
            </div>

            <a href="../" class="bloc-link active bgMenuBlue">
                <span class="nav-links">Accueil</span>
            </a>

            <a href="../galerie" class="bloc-link bgMenuGrey">
                <span class="nav-links">Galerie</span>
            </a>

            <a href="../prestations" class="bloc-link bgMenuBlue">
                <span class="nav-links">Prestations</span>
            </a>

            <a href="../contact" class="bloc-link bgMenuGrey">
                <span class="nav-links">Contact</span>
            </a>
        </nav>
</header>