/*Reset*/
* {
    margin: 0;
}

/*Polices*/

html, body {
    height: 100%;
}

body, footer, button {
    font-family: 'Nova Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
}

body::after {
    background-image: url(../images/logo/imgFond.jpg);
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.mentions-title {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.mentions-details {
    font-size: 12px;
    text-align: justify;
}

