/*Reset*/
* {
    margin: 0;
}

/*Polices*/

html, body {
    height: 100%;
}

body, footer, button {
    font-family: 'Nova Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
}

body::after {
    background-image: url(../images/logo/imgFond.jpg);
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.mentions-title {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.mentions-details {
    font-size: 12px;
    text-align: justify;
}

/*Galerie*/

.container-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Search*/

.container-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: conic-gradient(from 180deg at 50% 50%, #FFFFFF -152.6deg,#47555E, #FFFFFF 141.7deg, #47555E,#FFFFFF 207.4deg, #47555E 501.7deg);    padding: 10px;
    min-height: 70px;
}

#input-search{
    font-size: 10px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 10px 0;
    border: none;
    padding: 10px;
    border: 1px solid #47555E;
    margin: 0 15px;
    width: 250px;
}

.btn-search {
    display: flex;
    flex-direction: row;
    background: rgba(71, 85, 94, 0.8);
    border: 1px solid #000000;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 5px;
    align-items: center;
    margin: 0 15px;
}

.img-search {
    display: flex;
    flex-direction: row;
    align-self: center;
    height: 20px;
    width: 20px;
    margin: 2px;
}

/*List*/

.container-title-list {
    font-size: 10px;
    background-color: #FFFFFF;
    border-radius: 10px 0;
    border: none;
    padding: 10px;
    border: 1px solid #8E99A0;
    text-align: center;
    margin: 20px;
}

.list-button, .categories-button {
    color: #47555E;
}

/*Categories*/

.container-title-categories {
    font-size: 10px;
    background-color: #FFFFFF;
    border-radius: 10px 0;
    border: none;
    padding: 10px;
    border: 1px solid #8E99A0;
    text-align: center;
    margin: 20px;
}

    /*images*/
/* .card {
    width: 150px;
    height: 150px;
} */


/*card*/

.container-categories {
    display: flex;
}

.card {
    padding: 3px;
    margin: 10px;
    text-align: justify;
    flex-wrap: wrap;
    flex-direction: column;
}




@media screen and (min-width: 768px) {
    .container-categories {
        flex-direction: row;
    }
    .container-search {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background: conic-gradient(from 180deg at 50% 50%, #FFFFFF -152.6deg,#47555E, #FFFFFF 141.7deg, #47555E,#FFFFFF 207.4deg, #47555E 501.7deg);    padding: 10px;
        min-height: 70px;
    }
}