/*Reset*/
* {
    margin: 0;
}

/*Polices*/

html, body {
    height: 100%;
}

body, footer, button {
    font-family: 'Nova Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
}

body::after {
    background-image: url(../images/logo/imgFond.jpg);
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

/* a {
    color: #FFFFFF;
} */

/*Footer*/

.container-footer {
    display: flex;
    background: #47555E;
    justify-content: space-around;
    margin-bottom: 1px;
    padding: 5px;
}

.btn_Contact {
    background-color: #BFBDBD;
    color: #005466;
    border-radius: 0 10px 0 10px;
    border: 1px solid #BFBDBD;
}

.socialIcon {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
}

.socialItem {
    padding: 0 10px;
}

.mentions-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #47555E;
    font-size: 6px;
    text-align: center;
    border: 0.3px solid #FFFFFF;
    padding: 5px;
}

.mentions-footer a {
    color: #FFFFFF;
}

.mentions-title {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.mentions-details {
    font-size: 12px;
    text-align: justify;
}

/*Header*/

/*Navbar*/
.side-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bloc-link {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    border-radius: 0 10px 0 10px;
    border: 1px solid #BFBDBD;
    height: min-content;
    padding : 5px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.logo {
    width: 80px;
    height: 80px;
    padding-top: 10px;
}

.nav-links {
    font-size: 12px;
}

.bgMenuGrey {
    background-color: rgba(71, 85, 94, 0.8);
}

.bgMenuBlue {
    background-color: rgba(0, 84, 102, 0.9);
}

/*BG img*/
/* .container-nav {
    background-image: url('../images/logo/imgFond.jpg');
} */

.title-nav {
    display: flex;
    flex-direction: column;
    border: 1px solid #FFFFFF;
    border-radius: 0 20px 0 20px;
    background-color: #FFFFFF;
    text-align: center;
    width: 50%;
    padding: 10px;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.title__colorLetter {
    color: #005466;
}

.container-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;/*pour footer fixe*/
}

/*index*/

.container-index {
    display: flex;
    flex-grow: 1;/*pour footer fixe*/
    flex-direction: column;

}

/*description*/

.container-description {
    background-image: url(../images/index/imgPresPhotographe.jpg);
    background-size: cover;
    display: flex;
    flex-grow: 1;
    margin-top: 1%;
    padding: 1%;
    border: 1px solid #FFFFFF;
}

.desc-content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.desc-title {
    background-color: rgba(0,0,0,0.8);
    width: fit-content;
    color: #FFFFFF;
    margin: 0 15px 20px 0;
    border: 1px solid black;
    border-radius: 10px 0 10px 30px;
    padding: 5px 10px;
}

.desc-text {
    background-color: #C3C3C3;
    width: fit-content;
    color: #661200;
    margin: 5px;
    font-size: 10px;
    text-align: justify;
    border: 1px solid #C3C3C3;
    border-radius: 10px 0 10px 30px;
    padding: 10px;

}

/*Liens*/
.container-link {
    display: flex;
    background-image: url(../images/index/imgLienFond.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 1%;
    border: 1px solid #FFFFFF;
}

.link-index {
    margin: 5px;
    padding: 8px;
}