---
layout: layoutHome.njk
---

<main class="container-index">
    <section class="container-description">
        <div class="desc-content">
            <h2 class="desc-title">Qui suis-je ?</h2>
            <p class="desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </section>

    <section class="container-link">
        <div class="link-content">
            <a href="./galerie" class="bloc-link bgMenuGrey link-index">
                <span class="nav-links link-detail">Galerie</span>
            </a>

            <a href="./prestations" class="bloc-link bgMenuBlue link-index">
                <span class="nav-links link-detail">Prestations & Tarifs</span>
            </a>

            <a href="./contact" class="bloc-link bgMenuGrey link-index">
                <span class="nav-links link-detail">Contact</span>
            </a>
        </div>
    </section>
</main>